<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Arimo:ital,wght@0,400..700;1,400..700&family=Bebas+Neue&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <header>
        <div class="Title">
            <h1>1nside T4ms</h1>
        </div>
        <nav>
            <a href="#">Academics</a>
            <a href="#">Certificate</a>
            <a href="#">Teachers</a>
            <a href="#">About us</a>

        </nav>
        <div class="Social-Media">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
        </div>
        <div class="NavBar">
              <i class="fa-solid fa-bars menu-toggle" id="menu-toggle"></i>
              <div class="NavContainer">
                <p class="exitNavBar">
                    <i class="fa-solid fa-xmark" id="Close"></i>
                </p>
              </div>

        </div>

    </header>
    <section>
        <div class="Middle">
            <div class="title">
                <h1>Journey Through Our Events <br> A School Documentation</h1>
            </div>
            <div class="banner-feu">
                <div class="imageExAMPLE"></div>
            </div>
        </div>
        <div class="bottomNavBAR">
            <div class="courses-links">
                <a href="#">FEU</a>
                <a href="#">NSTP <i class="fas fa-caret-down"></i></a>
                <a href="#">PURPOSIVE <i class="fas fa-caret-down"></i></a>
                <a href="#">EVENTS <i class="fas fa-caret-down"></i></a>
                <a href="#">FEU JOURNEY <i class="fas fa-caret-down"></i></a>


            </div>
            <div class="search">
                <i class="fas fa-search"></i>  
            </div>
        </div>
    </section>
    <div class="Fp">
        <div class="titleFp">
            <div class="highlight">FEU Roosevelt</div>
            <div class="textNext">Moments That Matter: A Documentation of FEU Roosevelt Events (School Year 2025–2026)</div>
        </div>
    </div>
    <div class="image">
        <div class="dataImage">
            <div class="FpImage one" style="grid-area: box1;"></div>
            <div class="FpImage two" style="grid-area: box2;"></div>
            <div class="FpImage three" style="grid-area: box3;"></div>
            <div class="FpImage four" style="grid-area: box4;"></div>
        </div>
    </div>
    <div class="bottom">
        <div class="leftBox">
            <div class="boxNavBar">
                <a href="#" class="dontMiss">DON'T MISS</a>
                <a href="# ">ALL</a>
                <a href="#">STYLE</a>
                <a href="#">VOGUE</a>
                <a href="#">VOGUE</a>
                <a href="#">HEALTH FITNESS </a>
    


            </div>
            <div class="insideBox">
                <div class="insideBoxLeft">
                    <div class="insideBoxLeftImage"></div>
                </div>
                <div class="insideBoxRight">
                    <div class="insideBoxRightImage"></div>
                    <div class="insideBoxRightImage"></div>
                    <div class="insideBoxRightImage"></div>

                </div>
            </div>
        </div>
        <div class="rightBox">
            <div class="Headings">
                <h1>STAY CONNECTED</h1>
            </div>
            <div class="SocialMedia">
                <div class="Fb" style="font-size: 25px; color: #1877f2;">
                <i class="fa-brands fa-facebook"></i>
                <p style="color: black; font-size: 13px;">Lorem ipsum dolor sit amet</p>
                <p class="follow">Follow</p>
                </div>
                <div style="font-size: 25px; color: #E4405F;">
                <i class="fa-brands fa-instagram"></i>
                <p style="color: black; font-size: 13px;">Lorem ipsum dolor sit amet</p>
                <p class="follow">Follow</p>
                </div>
                <div style="font-size: 25px; color: #1DA1F2;">
                <i class="fa-brands fa-twitter"></i>
                <p style="color: black; font-size: 13px;">Lorem ipsum dolor sit amet</p>
                <p class="follow">Follow</p>
                </div>

            </div>
        </div>
    </div>
    <div class="SlidingText">
        <marquee scrollamount="20" direction="left">TRENDING EVENTS</marquee>
    </div>

    <script src="../function/index.js"></script>
</body>
</html>